.img-model{
    width: 200px;
    height: auto;
}

.eqlogicBoxTitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.eqlogicConfigBtn {
    text-align: center;
    background-color : #ffffff;
    color:#767676;
    height : 120px;
    width : 160px;
    font-size : 5em;
    display: block;
}

.eqlogicConfigBtnTitle {
    font-size : 0.2em;
    word-break : break-all;
    white-space : pre-wrap;
    word-wrap : break-word;
}
